<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <h1>Admin Login:</h1>
    <a href="/auth/github">Login with gitHub</a>
    <a href="/shopping">Let's Shop</a>
    
  </body>
</html>
