<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Shopping<span>Cart</span></div>
    </div>
    <br>
    <div class="login">
        <form action="/users/login" method="post">
            <input type="text" name="email" placeholder="Enter registered email"><br>
            <input type="password" name="password" placeholder=" Enter registered password"><br>
            <input type="submit" value="Login">
            <h3>Not registered? <a href="/users/register">Click here</a></h3>
        </form>
    </div>

</body>

</html>