<a href="/">Home</a>

<form action="/users/login" method="post">
    <input type="email" name="email" placeholder="Enter email...">
    <input type="password" name="password" placeholder="Enter password...">
    <input type="submit" value="Login">
</form>