<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container">
    <div class="profile-color">
        <img src="/uploads/<%=  user.image %>" class="profile-image" />
        <h1 class="profile-name">Name: <%= user.username %></h1>
        <h2 class="profile-name">E-mail: <%= user.email %></h2>
        <button class="profile-button"><a href="/shopping" class="button-text">Shop</a></button>
        <button class="profile-button"><a href="/shopping/:id/profile/edit" class="button-text">Edit Profile</a></button>
    </div>
</div>