<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container">

<a href="/">Home</a>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Shopping<span>Cart</span></div>
</div>
<br>
<div class="login">
<form action="/users/register" method="POST" enctype="multipart/form-data">

    <input type="text" name="username" placeholder="Enter desired username..."><br>
    <input type="email" name="email" placeholder="Enter your email..."><br>
    <input type="password" name="password" placeholder="Enter password"><br>

    <div class="register-btn">
        <label>Select your profile picture:</label>
        <input type="file" name="image" />
    </div>

    <input type="submit" value="Register" class="register-btn"">
    <h3>Already registered? <a href="/users/login">Click here</a></h3>

</form>
</div>

</div>