<a href="/">Home</a>

<form action="/users/register" method="post">
    <input type="text" name="username" placeholder="Enter desired username">
    <input type="email" name="email" placeholder="Enter your email...">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Register">
</form>