
<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <a href="/">Home</a>
            <h1>Welcome to shopping <%= user.username %> !</h1>

            <a href="/products/addProduct">Add Products</a>
        
        <a href="/shopping/<%= user.id %>/profile">Profile</a>
        <a href="/users/logout">Logout</a>
        
    </div>
</body>

</html>
