
<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <a href="/">Home</a>
            <h1>Welcome to shopping!</h1>

        <form action="/shopping/upload-profile-pic" enctype="multipart/form-data" method="post">

            <div>
                <label>Select your profile picture:</label>
                <input type="file" name="profile_pic" />
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Upload Photo
                <i class="material-icons right">send</i>
            </button>
            
        </form>
        
        <a href="/users/logout">Logout</a>
        
    </div>
</body>

</html>
