body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profile-color {
  background-color: lavender;
  width: 25%;
  padding: 28px;
  height: 100vh;
}

.profile-color:hover {
  background-color: lightcoral;
}


.profile-image {
  /* border-radius: 50%; */
  width: 100%;
  /* rotate: 90deg; */
  box-shadow: 1px 1px 10px turquoise;
}

.profile-name {
  font-size: 20px;
  font-weight: 200;
}


.profile-button {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: transparent;
}

.profile-button:hover {
  background-color: transparent;
  box-shadow: 1px 1px 5px black;
}

.button-text {
  color: blue;
}