body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  /* rotate: 90deg; */
  box-shadow: 1px 1px 5px turquoise;
}

.profile-name {
  font-size: 20px;
  font-weight: 200;
}

.profile-color {
  background-color: lavender;
  height: 100vh;
  width: 25%;
  padding-top: 20px;
  padding-left: 20px;
}

.profile-color:hover {
  box-shadow: 1px 1px 5px black;
  background-color: lightcoral;
}

.profile-button {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: transparent;
}

.profile-button:hover {
  background-color: transparent;
  box-shadow: 1px 1px 5px black;
}

.button-text {
  color: blue;
}